.company-profile {
  &__logo-container {
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: 2px solid #ccc;
    background-color: #fff;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__faux-logo {
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: 2px solid #ccc;
    font-size: 24px;
    font-weight: bold;
  }
}
